/* Luscious slate background */
body {
    background-color: #F1F4F6;
    font-family: 'Lato', sans-serif;
    font-weight: light;
}

/* Blue navbar */
.navbar-default {
    background-color: #426BE7;
    -webkit-box-shadow: 0px 2px 5px 0px #A9A9A9;
    -moz-box-shadow: 0px 2px 5px 0px #A9A9A9;
    box-shadow: 0px 2px 5px 0px #A9A9A9;
    border: 0;
    border-radius: 0;
}

/* Navbar text */
.navbar-default .navbar- {
    background-color: #426BE7;
    color: #FFFFFF;
    font-weight: light;
}

/* Navbar hover behavior */
.navbar .nav > li.dropdown.open.active > a:hover,
.navbar .nav > li.dropdown.open > a {
   color: #fff;
   background-color: #0F48B4;
   border-color: #fff;
}

/*-- change navbar dropdown color --*/
/*.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu {
background-color: #3344ff;
color:#ffffff;
}
*/
/*@media (max-width: 200px) {
  .navbar-header {
      float: none;
  }
}*/

/* Buzzer logo */
.navbar-default .navbar-brand {
    background-color: #426BE7;
    color: #FFFFFF;
    font-weight: light;
}

/* Buzzer logo */
.navbar-default .navbar-header {
    font-weight: light;
}

/* Navbar text margins */
.navbar-default .navbar-nav {
    margin-top: 2px;
    margin-left: 50px;
}

/* Active text */
.active a {
    background-color: #426BE7 !important;
    font-weight: bold;
    color: #FFFFFF !important;
}

/* Define white */
.white, .white a {
  color: #fff;
}

/* Navbar color override */
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

/* Buzzer assignment modal */
.modal-body {
  height: 200px;
}

/* Buzzer successful link to party */
#buzzer-modal-success-message {
  font-size: 30px;
  display: none;
  text-align: center;
  margin-top: 10%;
}

/* Center the login elements */
.login {

    /* Horizontal */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;

    /* Vertical */
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

/* Horizontal centering of add user elements */
.add_user {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

/* Button style */
.btn-primary {
    background-color: #426BE7;
    border: none;
    /*border-color: #374570;*/
    /*border-width: 2px;*/
}

/* Button hover behavior */
.btn-primary:hover {
    background-color: #426BE7;
    border: none;
    -webkit-box-shadow: 0px 0px 5px 2px #A9A9A9;
    box-shadow:         0px 0px 5px 2px #A9A9A9;
    -moz-box-shadow:    0px 0px 5px 2px #A9A9A9;
}

/* Button active behavior */
.btn-primary:active {
    /*background-color: #374570;*/
    background-color: #426BE7 !important;
    border: none;
    -webkit-box-shadow: inset 0px 0px 2px 2px #000000;
    box-shadow:         inset 0px 0px 2px 2px #000000;
    -moz-box-shadow:    inset 0px 0px 2px 2px #000000;
}

/* Button default style */
.btn-default {
    background-color: #426BE7;
    color: #FFFFFF !important;
}

/* Red button to unlink buzzer */
.unlink-buzzer-button {
    background-color: #DD2A17;
    color: #FFFFFF;
}

/* Unlink button hover behavior */
.unlink-buzzer-button.btn-default:hover {
    color: #FFFFFF;
    background-color: #AA0000 !important;
    /*border-color: #426BE7; set the color you want here*/
}

/* Formatting for ellipsis button (extra actions) */
/* Source- https://goo.gl/qyg9Sp */
#elipsis {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 14px;
  line-height: 1.42;
  border-radius: 15px;
  margin: 8px; /* Modifies spacing of buttons */
}

/* Custom ID for modifying the buzzer management glyphicons */
#buzzer-status-ok {
    font-size: 3.0em;
    font-weight: 40;
    color:green;
}

#buzzer-status-remove {
    font-size: 3.0em;
    font-weight: 40;
    color:red;
}

/*.table td {
   text-align: center;
}*/

.delete-party-button {
    background-color: #DD2A17;
    color: #FFFFFF;
}

.delete-party-button.btn-default:hover {
    color: #FFFFFF;
    background-color: #AA0000 !important;
    /*border-color: #426BE7; set the color you want here*/
}

.seat-party-button {
    background-color: #006400;
    color: #FFFFFF;
}

.seat-party-button:active{
    background-color: #006400 !important;
}

.seat-party-button.btn-default:hover{
    background-color: #004B00 !important;
}

.analytics-date-picker {
  width: 300px;
  margin-right: 30px;
}

.datepicker-container{
  /*float: left;*/
}

/* Waitlist/phone-ahead switch */
#btnrocker {
    background-color: #F1F4F6;
    color: #000000 !important;
}

/* Waitlist/phone-ahead hover behavior */
#btnrocker.btn:hover {
    background-color: #426BE7 !important;
}

/* Waitlist/phone-ahead active style */
#btnrocker.btn.active {
    background-color: #426BE7;
    color: #FFFFFF !important;
}

.analytics-line-chart {
  width: 90%;
  margin-top: 20px;
}

/* Active button style */
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
    background-color: #426BE7;
    color: #FFFFFF;
}

/* Deafult button hover behavior */
.btn-default:hover {
    color: #FFFFFF;
    background-color: #0F48B4 !important;
    /*border-color: #426BE7; set the color you want here*/
}

/* Dropdown toggle color */
.btn-default dropdown-toggle {
    background-color: #FFFFFF !important;
}

/* Blue buttons */
.btn.active, .btn:active {
    background-color: #426BE7;
}

/* Register spacing */
.register-buzzer {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 300px;
}

/* Login form element alignment */
.form-login input {
    display: block;
    margin-bottom: 15px;
}

/* Login form element shadow */
.form-login input:focus {
    -webkit-box-shadow: 0px 0px 5px 2px #426BE7;
    box-shadow:         0px 0px 5px 2px #426BE7;
    -moz-box-shadow:    0px 0px 5px 2px #426BE7;
    border-color: white;
}

/* Scrollable dropdown for minutes */
.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.phone-ahead-toggle {
  margin-right: 10px;
}

/* Login error alert */
.login-alert {
    /* Horizontal */
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

    /* Vertical */
    position: relative;
    top: 25%;
    transform: translateY(25%);
}

/* Add party spacing */
.add-party-justify {
  margin-top: 10px;
  text-align: center;
}

/* Add party button spacing */
.add-party-button {
  margin-left: 10px;
}

/* Add party container alignment */
.add-party-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.datepicker-spinner {
  /*top: 50%;*/
  margin-top: -17px;
  margin-left: 110px;
  /*margin-left: -100px;*/
  /*width: 100px;*/
  /*height: 100px;*/
  /*bottom: 50%;*/
}

/* Alert spacing */
#alert_placeholder {
    display: block;
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    /* Vertical */
    transform: translateY(-40%);
}

/*.img-responsive{
    width:5%;
    height:5%;
}*/

.datepicker-container{
  float: left;
}

@media (min-width: 991px){
  .add-party-justify {
    margin-top: 0px;
    text-align: right;
  }
  .datepicker-container{
    float: right;
  }
}

/* Custom red for danger alerts */
.alert-danger {
    color: #FFFFFF;
    background-color: #DD2A17;
}

.banner-container {
    top: -50px;
    width:100%;
    text-align:center;
    background-color: #F1F4F6;
}
.banner {
    display:inline-block;
    margin: 0 auto;
}

.info {
    width: 100%;
    padding-top: 5rem;
    padding-right: 2%;
    padding-bottom: 5rem;
    padding-left: 2%;
    background-color: #F1F4F6;
    float: left;
    display: block;
    border-style: solid;
    border-bottom-width: 0px;
    border-color: rgb(224, 224, 224);
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    overflow: hidden;
}

.container {
    padding: 0em;
    width: 100%;
    float: none;
    display: inline-block;
    max-width: 1400px;
    overflow: hidden;
}

.text {
    margin-bottom: 0rem;
    float: none;
    display: inline-block;
    font-size: 3rem;
    line-height: 1.4;
    padding-top: 0em;
    padding-right: 0em;
    padding-bottom: 1rem;
    padding-left: 0em;
    font-family: 'Lato', light;
    font-weight: 300;
    color: rgb(32, 32, 32);
    position: relative;
    text-align: center;
    top: 50%;
    width: 100%;
}

.points-container {
    padding-top: 0em;
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 4em;
    min-height: 50px;
    float: none;
}

.points-background {
    background-color: #F1F4F6;
    text-align: center;
}

.points {
    margin-top: 0px;
    margin-left: 0%;
    margin-right: 0rem;
    margin-bottom: 2em;
    padding-top: 2em;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4em;
    width: 240px;
    height:280px;
    float: none;
    display: inline-block;
    vertical-align: middle;
    color: rgb(32, 32, 32);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-color: rgb(236, 236, 236);
    transition: top ease .5s;
    position:relative;
    top: 0;


}

.points:hover {
  top: -10px;
  border-color: #426BE7;

}

.points-image {
    height: 150px;
    width: 100px;
}

.demo-container {
    background-color: #F1F4F6;
}

.info-container {
    text-align: center;
}

.info-text {
    font-family: 'Lato', light;
    font-weight: 300;
    color: rgb(32, 32, 32);
    font-size: 3rem;
}

.info-button {
    width: 200px;
    height: 80px;
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1rem;
    line-height: 1;
    color: #426BE7;
    border-color: #426BE7;
    font-family: 'Lato', light;
    font-weight: 300;
    font-size: 2.5rem;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    background-color: #F1F4F6;
}
.info-button:hover {
    color: #F1F4F6;
    background-color: #426BE7;
}

.padded-container {
    padding-bottom: 2em;
}
.demo-background {
    height: 400px;
    background-color: #F1F4F6;}
