/* Luscious slate background */
body {
    background-color: #F1F4F6;
    font-family: 'Lato', sans-serif;
    font-weight: light;
}

/* Blue navbar */
.navbar-default {
    background-color: #426BE7;
    -webkit-box-shadow: 0px 2px 5px 0px #A9A9A9;
    -moz-box-shadow: 0px 2px 5px 0px #A9A9A9;
    box-shadow: 0px 2px 5px 0px #A9A9A9;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar- {
    background-color: #426BE7;
    color: #FFFFFF;
    font-weight: light;
}

.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a {
   color: #fff;
   background-color: #0F48B4;
   border-color: #fff;
}

/*-- change navbar dropdown color --*/
/*.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu {
background-color: #3344ff;
color:#ffffff;
}
*/
/*@media (max-width: 200px) {
  .navbar-header {
      float: none;
  }
}*/

/* Buzzer logo */
.navbar-default .navbar-brand {
    background-color: #426BE7;
    color: #FFFFFF;
    font-weight: light;
}

/* Buzzer logo */
.navbar-default .navbar-header {
    font-weight: light;
}

.navbar-default .navbar-nav {
    margin-top: 2px;
    margin-left: 50px;
}

.active a {
    background-color: #426BE7 !important;
    font-weight: bold;
    color: #FFFFFF !important;
}

.white, .white a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.modal-body {
  height: 200px;
}

#buzzer-modal-success-message {
  font-size: 30px;
  display: none;
  text-align: center;
  margin-top: 10%;
}

/* Center the login elements */
.login {
    /* Horizontal */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;

    /* Vertical */
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

.add_user {
   /* Horizontal */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.btn-primary {
    background-color: #426BE7;
    border: none;
    /*border-color: #374570;*/
    /*border-width: 2px;*/
}

.btn-primary:hover {
    background-color: #426BE7;
    border: none;
    -webkit-box-shadow: 0px 0px 5px 2px #A9A9A9;
    box-shadow:         0px 0px 5px 2px #A9A9A9;
    -moz-box-shadow:    0px 0px 5px 2px #A9A9A9;
}

.btn-primary:active {
    /*background-color: #374570;*/
    background-color: #426BE7 !important;
    border: none;
    -webkit-box-shadow: inset 0px 0px 2px 2px #000000;
    box-shadow:         inset 0px 0px 2px 2px #000000;
    -moz-box-shadow:    inset 0px 0px 2px 2px #000000;
}

.btn-default {
    background-color: #426BE7;
    color: #FFFFFF !important;
}

.unlink-buzzer-button {
    background-color: #DD2A17;
    color: #FFFFFF;
}

.unlink-buzzer-button.btn-default:hover {
    color: #FFFFFF;
    background-color: #AA0000 !important;
    /*border-color: #426BE7; set the color you want here*/
}

/*Formatting for Elipsis Circular Button.*/
/*Source- https://goo.gl/qyg9Sp */
#elipsis {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 14px;
  line-height: 1.42;
  border-radius: 15px;
  margin: 8px; /*Modifies spacing of buttons*/
}

/*Custom ID for modifying the buzzer management glyphicons.*/
#buzzer-status-ok {
    font-size: 3.0em;
    font-weight: 40;
    color:green;
}

#buzzer-status-remove {
    font-size: 3.0em;
    font-weight: 40;
    color:red;
}

/*.table td {
   text-align: center;   
}*/

.delete-party-button {
    background-color: #DD2A17;
    color: #FFFFFF;
}

.delete-party-button.btn-default:hover {
    color: #FFFFFF;
    background-color: #AA0000 !important;
    /*border-color: #426BE7; set the color you want here*/
}

#btnrocker {
    background-color: #F1F4F6;
    color: #000000 !important;
}

#btnrocker.btn:hover {
    background-color: #426BE7 !important;
}

#btnrocker.btn.active {
    background-color: #426BE7;
    color: #FFFFFF !important;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
    background-color: #426BE7;
    color: #FFFFFF;
}

.btn-default:hover {
    color: #FFFFFF;
    background-color: #0F48B4 !important;
    /*border-color: #426BE7; set the color you want here*/
}

.btn-default dropdown-toggle {
    background-color: #FFFFFF !important;
}

.btn.active, .btn:active {
    background-color: #426BE7;
}

.form-login input {
    display: block;
    margin-bottom: 15px;
}

.form-login input:focus {
    -webkit-box-shadow: 0px 0px 5px 2px #426BE7;
    box-shadow:         0px 0px 5px 2px #426BE7;
    -moz-box-shadow:    0px 0px 5px 2px #426BE7;
    border-color: white;
}

#hours-dropdown {
  margin-left: 10px;
}

.login-alert {
    /* Horizontal */
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

    /* Vertical */
    position: relative;
    top: 25%;
    transform: translateY(25%);
}

.add-party-justify {
  margin-top: 10px;
  text-align: center;
}

.add-party-button {
  margin-left: 10px;
}

.add-party-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

#alert_placeholder {
    display: block;
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    /* Vertical */
    transform: translateY(-40%);
}

/*.img-responsive{
    width:5%;
    height:5%;
}*/

@media (min-width: 991px){
  .add-party-justify {
    margin-top: 0px;
    text-align: right;
  }
}

.alert-danger {
    color: #FFFFFF;
    background-color: #DD2A17;
}
