.info {
    width: 100%;
    padding-top: 5rem;
    padding-right: 2%;
    padding-bottom: 5rem;
    padding-left: 2%;
    background-color: rgb(255, 255, 255);
    float: left;
    display: block;
    border-style: solid;
    border-bottom-width: 0px;
    border-color: rgb(224, 224, 224);
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    overflow: hidden;
}

.container {
    padding: 0em;
    width: 100%;
    float: none;
    display: inline-block;
    max-width: 1400px;
    overflow: hidden;
}

.text {
    margin-bottom: 0rem;
    float: none;
    display: inline-block;
    font-size: 3rem;
    line-height: 1.4;
    padding-top: 0em;
    padding-right: 0em;
    padding-bottom: 1rem;
    padding-left: 0em;
    font-family: 'Lato', light;
    font-weight: 300;
    color: rgb(32, 32, 32);
    position: relative;
    text-align: center;
    top: 50%;
    width: 100%;
}

.points-container {
    padding-top: 0em;
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 4em;
    min-height: 50px;
    max-width: 900px;
    float: none;
}
<<<<<<< HEAD

.points-background {
    background-color: white;
}

.points {
    margin-top: 0px;
    margin-left: 0%;
    margin-right: 0rem;
    margin-bottom: 2em;
    padding-top: 2em;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4em;
    width: 31%;
    float: none;
    display: inline-block;
    vertical-align: middle;
    color: rgb(32, 32, 32);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-color: rgb(236, 236, 236);
    transition: top ease .5s;
    position:relative;
    top: 0;


}
.points:hover {
  top: -10px;
}

.demo-container {
    background-color: rgb(249, 249, 249);
}
=======
>>>>>>> a954e1709d9433aec6d712f8d3d90ae3c26f9454
