<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>404</title>
    <!-- Bootstrap -->
    <link href="/assets/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/static/css/404.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <h1>404</h1>
      </div>
      <div class="row kev-row">
        <img src="/assets/static/img/404.jpg" class="img-responsive inline-block" alt="kev" />
      </div>
      <div class="row">
        <h2>The page you requested is unavailable, but our chief buzzer expert Kevin is. <br>
            He enjoys dogs, cars, and having fun with his friends. <br>
            Fax him at (908) 914-6615</h2>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/static/js/bootstrap.min.js"></script>
  </body>
</html>
