<!DOCTYPE html>

<html lang="en">
<head>
{{ template "header.html.tmpl" .}}
</head>
<body>
{{ template "navbar.html.tmpl" .}}
<body>
    {{.flash}}
	<div class= "row add_user" align="center">
		<h2>Add User</h2>
		<form action="/add_user" method="POST">
			<p>
				User Name: <input type="text" name="username"><br>
				Password: <input type="text" name="password"><br>
  Restaurant Name: <input type="text" name="restaurant_name"><br>
                        <br>
                        <button class="btn btn-lg btn-primary" type="submit">Add User</button>
			</p>
		</form>
        </div>
</body>
</html>
