<!DOCTYPE html>
<!--Admin page to add a user-->

<html lang="en">
<head>
{{ template "header.html.tmpl" .}}
</head>
<body>
{{ template "navbar.html.tmpl" .}}
<body>
    {{.flash}}
	<div class= "row login">
		<h2>Add User</h2>
		<form action="/add_user" method="POST" class="form-login">
		  <!--Input fields for username, password, and restaurant name-->
		  <label for="username" class="sr-only">Username</label>
		  <input id="username" name="username" class="form-control" placeholder="Username" required autofocus>
		  <label for="password" class="sr-only">Password</label>
		  <input type="text" id="password" class="form-control" name="password" placeholder="Password" required>
		  <label for="restaurant_name" class="sr-only">Restaurant Name</label>
		  <input type="text" id="restaurant_name" class="form-control" name="restaurant_name" placeholder="Restaurant Name" required>
		  <button class="btn btn-lg btn-primary btn-block" type="submit">Go</button>
		</form>
	</div>
</body>
</html>
