<!DOCTYPE html>
<html lang="en">
<!--Buzzer management page (status info and admin functionality for buzzer fleet)-->

<title>Admin | Buzzer</title>


<head>
{{ template "header.html.tmpl" .}}
</head>
<body>
{{ template "navbar.html.tmpl" .}}
<body>
<div class="container">
<!--Alerts-->
  {{ if .failure_message }}
    <div class="row login-alert">
      <div class="alert alert-danger" role="alert">{{ .failure_message }}</div>
    </div>
  {{ end }}

  {{.flash}}
  
  <div class="container">
    <div class="row">
      <div class="add-party-container">
        <form action="/admin" method="POST" class="form-login">
          <div class="col-sm-4" align="center">
            <label for="username" class="sr-only">Username</label>
            <input id="username" name="username" class="form-control" placeholder="Username" required autofocus style="max-width: 400px">
          </div>
          <div class="col-sm-4" align="center">
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" name="password"placeholder="Password" required style="max-width: 400px">
          </div>
          <div class="col-sm-4" align="center">
            <button class="btn btn-primary btn-block" type="submit" style="max-width: 400px">Add User</button>
          </form>
        </div>
      </div>
    </div>

     <!--Buzzer management info table-->
     <table class="table table-bordered" id="user-table">
       <thead>
         <tr>
           <th>User Name</th>
           <th>Date</th>
           <th></th>
       </tr>
    </thead>
    <tbody>
      {{range .user_data}}
      <!--Show name, status (active or not), time of last check-in, and action buttons for each buzzer-->
        <tr userID="{{.ID}}">
          <td>{{.Username}}</td>
          <td>{{ (call $.formatDateCreated .DateCreated) }}</td>
          <td>
            <button class="btn btn-default remove-user-button" type="button">Remove</button>
          </td>
        </tr>
      {{end}}
    </tbody>
    </table>
    </div>
</div>

</body>
</body>
</html>
