<!DOCTYPE html>
<html lang="en">

<title>Analytics | Buzzer</title>


<head>
{{ template "header.html.tmpl" .}}
<!-- JS file for chart creation -->
<script src="/assets/static/js/Chart.min.js"></script>
</head>

<body>
{{ template "navbar.html.tmpl" .}}
<div class="row login-alert">
  <div id="alert_placeholder"></div>
</div>

<title>Analytics | Buzzer</title>

<script>
    console.log($('.input-daterange input') === undefined)
    $(document).ready(function(){
        $('.input-daterange input').each(function() {
            $(this).datepicker({
                format: "mm/dd/yyyy",
                startDate: "01/01/2000",
                endDate: ""
            });
        });
    });

</script>

<div class="container">
  <div class="row">
    <div class="col-md-12 add-party-container">
      <div class="row">

        <!-- Party Name/Party Size button grouping -->
        <div class="col-md-4" align="left">
          <div class="btn-group dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" id="minutes-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="">
              Minutes <span class="caret"></span>
            </button>
            <ul class="dropdown-menu scrollable-menu" role="menu">
               <li><a href="#">5</a></li>
               <li><a href="#">10</a></li>
               <li><a href="#">15</a></li>
               <li><a href="#">20</a></li>
               <li><a href="#">25</a></li>
               <li><a href="#">30</a></li>
               <li><a href="#">35</a></li>
               <li><a href="#">40</a></li>
               <li><a href="#">45</a></li>
               <li><a href="#">50</a></li>
               <li><a href="#">55</a></li>
               <li><a href="#">60</a></li>
               <li><a href="#">65</a></li>
               <li><a href="#">70</a></li>
               <li><a href="#">75</a></li>
               <li><a href="#">80</a></li>
               <li><a href="#">85</a></li>
               <li><a href="#">90</a></li>
               <li><a href="#">95</a></li>
               <li><a href="#">100</a></li>
               <li><a href="#">105</a></li>
               <li><a href="#">110</a></li>
               <li><a href="#">115</a></li>
               <li><a href="#">120</a></li>
             </ul>
          </div>
        </div>

        <div class="col-md-8">
          <div class="input-group input-daterange analytics-date-picker">
              <input type="text" class="form-control startDate" value="Start Date">
              <div class="input-group-addon">to</div>
              <input type="text" class="form-control endDate" value="End Date">
          </div>
          <div class="datepicker-spinner" id="datepicker-spinner"></div>
        </div>
      </div>
    </div>
    <div class="col-md-12 add-party-container">
      <div class="row">
        <canvas id="analyticsLineChart"></canvas>
      </div>
    </div>
  </div>
</div>

  <!-- div for basic chart loaded on render -->
  <!-- <div class="container" style="padding-top:10px">
    <div class="row">
      <div id="historical_parties" class="col-md-12">
        <button class="btn btn-default get_average_party_chart_button" type="button">Avg Party Size Chart</button>
        <button class="btn btn-default get_total_party_chart_button" type="button">Total Customers Chart</button>
        <button class="btn btn-default get_parties_hour_chart_button" type="button">Parties Per Hour Chart</button>
      </div>
    </div>
  </div> -->



</body>
</html>
