<!DOCTYPE html>
<html lang="en">
<head>
{{ template "header.html.tmpl" .}}
<script>
    console.log($('.input-daterange input') === undefined)
    $(document).ready(function(){
        $('.input-daterange input').each(function() {
            $(this).datepicker({});
        });
    });

</script>
</head>
<body>
{{ template "navbar.html.tmpl" .}}
<div class="container">
  <div class="row">
        <div class="col-md-12">
            <h2>Analytics</h2>
        </div>

        <div class="input-group input-daterange">
            <input type="text" class="form-control" value="2012-04-05">
            <div class="input-group-addon">to</div>
            <input type="text" class="form-control" value="2012-04-19">
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
        <div id="historical_parties" class="col-md-12">
            <h2>Historical Parties</h2>
        </div>
    </div>
</div>
</body>
</html>
