<!DOCTYPE html>
<html lang="en">
<head>
{{ template "header.html.tmpl" .}}
</head>
<body>
{{ template "navbar.html.tmpl" .}}
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
     <h2>Buzzer Management</h2>
     <table class="table table-bordered" id="buzzer-management-table">
       <thead>
         <tr>
           <th>Buzzer Name</th>
           <th>Active</th>
           <th>Last Check-In</th>
           <th>Actions</th>
       </tr>
    </thead>
    <tbody>
      {{range .buzzer_data}}
        <tr>
          <td>{{.BuzzerName}}</td>
          {{ if .IsActive}}
            <td class="text-center"><span class="glyphicon glyphicon-ok" id="buzzer-status-ok"></span></td>
          {{else}}
            <td class="text-center"><span class="glyphicon glyphicon-remove" id="buzzer-status-remove"></span></td>
          {{end}}
          <td>{{.LastHeartbeat}}</td>
          <td>
            <button class="btn btn-default unlink-buzzer-button" type="button">Unlink</button>
            <div class="dropdown" style="display:inline;">
            <button class="btn btn-default dropdown-toggle" type="buzz-button" id="elipsis" data-toggle="dropdown"><span class="glyphicon glyphicon-option-horizontal"></button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Kevin</a></li>
                <li><a href="#">Has</a></li>
                <li><a href="#">Fun</a></li>
                <li><a href="#">With</a></li>
                <li><a href="#">Friends</a></li>
              </ul>
              </div>
          </td>
        </tr>
      {{end}}
    </tbody>
    </table>
    </div>
  </div>
</div>
</body>
</body>
</html>
