<!DOCTYPE html>
<html lang="en">
<!--Buzzer management page (status info and admin functionality for buzzer fleet)-->

<title>Device Management | Buzzer</title>


<head>
{{ template "header.html.tmpl" .}}
</head>
<body>
{{ template "navbar.html.tmpl" .}}
<body>
<div class="container">
<!--Alerts-->
  {{ if .failure_message }}
    <div class="row login-alert">
      <div class="alert alert-danger" role="alert">{{ .failure_message }}</div>
    </div>
  {{ end }}
  <div class="row">
    <div class="col-md-12" align="center">
      <form action="/buzzer_management" method="POST" class="form-login">
        <!--Form to register a new buzzer-->
        <div class="input-group register-buzzer">
          <input id="buzzer_name" name="buzzer_name" class="form-control" placeholder="Buzzer Name">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Register Buzzer</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     <!--Buzzer management info table-->
     <table class="table table-bordered" id="buzzer-management-table">
       <thead>
         <tr>
           <th>Buzzer Name</th>
           <th>Active</th>
           <th>Last Check-In</th>
           <th>Actions</th>
       </tr>
    </thead>
    <tbody>
      {{range .buzzer_data}}
      <!--Show name, status (active or not), time of last check-in, and action buttons for each buzzer-->
        <tr buzzerID="{{.ID}}">
          <td>{{.BuzzerName}}</td>
          {{ if .IsActive}}
            <td class="text-center"><span class="glyphicon glyphicon-ok" id="buzzer-status-ok"></span></td>
          {{else}}
            <td class="text-center"><span class="glyphicon glyphicon-remove" id="buzzer-status-remove"></span></td>
          {{end}}
          <td>{{.LastHeartbeat}}</td>
          <td class="text-center">
            <button class="btn btn-default unlink-buzzer-button" type="button">Unlink</button>
          </td>
        </tr>
      {{end}}
    </tbody>
    </table>
    </div>
  </div>
</div>
</body>
</body>
</html>
