<!DOCTYPE html>
<html>
<head>
<title>Restaur-Anteater</title>
</head>
<header>
	<body>
		<div align="center">
			<header>
				<img src="http://www.how-to-draw-funny-cartoons.com/image-files/cartoon-waiter-008.jpg" height="200" width="240">
				<h1>Welcome To Restaur-Anteater!</h1>
				<h4>Your Customer Wait Management Solution.</h4>
			</header>
			<h2>Please Login.</h2>
			<form action="loginform.php" method="get">
				<input TYPE="radio" NAME="loginType" VALUE="cust">Manager
				<input TYPE="radio" NAME="loginType" VALUE="emp">Host/Hostess
				<p>
					User Name: <input type="text" name="username"><br>
					Password: <input type="text" name="password"><br>
				</p>
				<input type="submit" value="Login">
			</form>

		</div>
	</body>
</html>
