<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/waitlist">Buzzer</a>
  </div>
  <div class="collapse navbar-collapse" id="myNavBar">
    <ul class="nav navbar-nav">
      <!--Bold the current tab, plain font for others-->
      {{ if eq .template_name "assets/templates/waitlist.html.tmpl" }}
      <li class="active"><a href="/waitlist">Waitlist</a></li>
      {{else}}
      <li><a href="/waitlist">Waitlist</a></li>
      {{end}}
      {{ if eq .template_name "assets/templates/buzzer_management.html.tmpl" }}
      <li class="active"><a href="/buzzer_management">Buzzer Management</a></li>
      {{else}}
      <li><a href="/buzzer_management">Buzzer Management</a></li>
      {{end}}
      {{ if eq .template_name "assets/templates/analytics.html.tmpl" }}
      <li class="active"><a href="/analytics">Analytics</a></li>
      {{else}}
      <li><a href="/analytics">Analytics</a></li>
      {{end}}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
          <!--Cog with logout functionality and room for more links (currently a couple fun easter eggs)-->
          <a href="#" class="glyphicon glyphicon-cog white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.facebook.com/michael.machlin">Contact Buzzer</a></li>
            <li><a href="https://www.linkedin.com/in/michaelmachlin">Kevin's LinkedIn</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
      </li>
    </ul>
  </div>
</div>
</nav>
