<!DOCTYPE html>
<html lang="en">
<!--Buzzer management page (status info and admin functionality for buzzer fleet)-->

<title>Device Management | Buzzer</title>


<head>
{{ template "header.html.tmpl" .}}
<link href="/assets/static/css/splash.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/waitlist">Buzzer</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavBar">

         <ul class="nav navbar-nav navbar-right">
           <li class="dropdown">
               <!--Cog with logout functionality and room for more links (currently a couple fun easter eggs)-->
               <a href="#" class="glyphicon glyphicon-cog white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
               <ul class="dropdown-menu">
                 <li><a href="https://www.facebook.com/michael.machlin">Contact Buzzer</a></li>
                 <li><a href="https://www.linkedin.com/in/michaelmachlin">Kevin's LinkedIn</a></li>
                 <li><a href="/logout">Logout</a></li>
               </ul>
           </li>
         </ul>
        </div>
    </nav>
     <div>
         <img class="banner" src="https://dl.dropboxusercontent.com/s/x8hew0n26cfw7gx/BuzzerShot.jpg?dl=0">
         <div class="info">
            <div class="container">
                <div class="text">
                    Buzzer is your restaurant party management solution.
                </div>
            </div>
         </div>
     </div>
     <div class="points-background">
         <div class="points-container">
            <div class="points">
                Cellular communication so that your customers have flexibility
            </div>
            <div class="points">
                Analytics to make better decisions in the future
            </div>
            <div class="points">
                Easy interface for low training time.
            </div>
         </div>
     </div>
     <div class="demo-background">
        <div class="info-container">
            <img src="http://i.imgur.com/h4QV6GS.png" width="600" height="400">
            Information placeholder
        </div>
     </div>
<body>