<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <form action="/create_activeparty" method="POST">
        <input name="RestaurantID"></input>
        <input name="PartyName"></input>
        <input name="PartySize"></input>
        <input name="PhoneAhead"></input>
        <input name="IsTableReady"></input>
        <button type="submit">Check ID</button>
    </form>
    <button onclick="testapi()">Test activeParty</button>
</body>
<script>
    function testapi(element) {
        var data = { "active_party_id" : "1" };
        $.ajax({
            type: "POST",
            url: "/is_party_assigned_buzzer",
            processData: false,
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(r) {
                console.log("success");
            });
        });
    }
</script>

</html>