<!DOCTYPE html>
<html lang="en">

<title>Waitlist | Buzzer</title>

<!--Waitlist page-->
<head>
{{ template "header.html.tmpl" .}}
</head>
<body>
{{ template "navbar.html.tmpl" .}}
<div class="row login-alert">
  <div id="alert_placeholder"></div>
</div>

<!-- Modal for buzzer linking -->
<div class="modal fade" id="buzzer-party-modal" tabindex="-1" role="dialog" aria-labelledby="buzzer-party-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="buzzer-party-modal-label">Press button on buzzer to connect with party</h4>
      </div>
      <div class="modal-body">
        <div id="buzzer-modal"></div>
        <div id="buzzer-modal-success-message">Buzzer successfully connected with party!</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 add-party-container">
      <div class="row">

        <!-- Party Name/Party Size button grouping -->
        <div class="col-md-4 col-md-offset-2" align="center">
          <div class="input-group">
            <input type="text" class="form-control" id="party-name-field" placeholder="Party Name"></input>
              <span class="input-group-btn dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="party-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true", value = "">
                  Party Size <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">6</a></li>
                  <li><a href="#">7</a></li>
                  <li><a href="#">8</a></li>
                  <li><a href="#">9</a></li>
                  <li><a href="#">10</a></li>
                  <li><a href="#">11</a></li>
                  <li><a href="#">12</a></li>
                </ul>
              </span>
          </div>
        </div>

        <!-- Rest of Add party stuff. Expected Wait time, phone ahead/in person selection, add button. -->
        <div class="col-md-4 add-party-justify">
          <div class="btn-group phone-ahead-toggle" data-toggle="buttons" id="btnrocker">
            <label class="btn btn-default active" id="btnrocker">
                <input type="radio" name="options" id="waitlist" width="20"><span class="glyphicon glyphicon-user"></span>
            </label>
            <label class="btn btn-default" id="btnrocker">
                <input type="radio" name="options" id="phone" width="20"><span class="glyphicon glyphicon-earphone"></span>
            </label>
          </div>
          <div class="btn-group dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" id="minutes-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="">
              Minutes <span class="caret"></span>
            </button>
            <ul class="dropdown-menu scrollable-menu" role="menu">
               <li><a href="#">5</a></li>
               <li><a href="#">10</a></li>
               <li><a href="#">15</a></li>
               <li><a href="#">20</a></li>
               <li><a href="#">25</a></li>
               <li><a href="#">30</a></li>
               <li><a href="#">35</a></li>
               <li><a href="#">40</a></li>
               <li><a href="#">45</a></li>
               <li><a href="#">50</a></li>
               <li><a href="#">55</a></li>
               <li><a href="#">60</a></li>
               <li><a href="#">65</a></li>
               <li><a href="#">70</a></li>
               <li><a href="#">75</a></li>
               <li><a href="#">80</a></li>
               <li><a href="#">85</a></li>
               <li><a href="#">90</a></li>
               <li><a href="#">95</a></li>
               <li><a href="#">100</a></li>
               <li><a href="#">105</a></li>
               <li><a href="#">110</a></li>
               <li><a href="#">115</a></li>
               <li><a href="#">120</a></li>
             </ul>
          </div>
          <button class="btn btn-default add-party-button" type="button" disabled="disabled">ADD</button>
        </div>

      </div>
    </div>
  </div>

  <!-- Main waitlist table -->
  <div class="row">
    <div class="col-md-12">
     <h2>Waitlist</h2>
     <table class="table table-bordered" id="waitlist-table">
       <thead>
         <tr>
           <th>Party Name</th>
           <th>Party Size</th>
           <th>Time Spent Waiting</th>
           <th>Estimated Wait</th>
           <th>Type</th>
           <th>Actions</th>
       </tr>
    </thead>
    <tbody>
      {{range .waitlist_data}}
        <!--Iterate through waitlist data for each buzzer (or phone-ahead party)-->
        <tr activePartyID="{{.ID}}">
          <td>{{.PartyName}}</td>
          <td>{{.PartySize}}</td>
          <td>{{ (call $.formatElapsedWaitingTime .TimeCreated) }}</td>
          <td>{{ (call $.formatEstimatedWaitingTime .WaitTimeExpected) }}</td>
          {{ if .PhoneAhead }}
            <td><span class="glyphicon glyphicon-earphone"></span></td>
          {{else}}
            <td><span class="glyphicon glyphicon-user"></span></td>
          {{end}}
          <td>
          {{if .PhoneAhead}}
            <div class="btn-toolbar">
            <button class="btn btn-default buzz-button" type="button">Assign Buzzer</button>
          {{else}}
            <div class="btn-toolbar">
            <button class="btn btn-default buzz-button" type="button">Buzz!</button>
          {{end}}
            <button class="btn btn-default delete-party-button" type="button">Delete</button>
            </div>
          </td>
        </tr>
      {{end}}
    </tbody>
    </table>
    </div>
  </div>
</div>
</body>
</html>
